*{
    margin: 0;
    padding: 0;
}
header{
    background-color: lightcoral;
}
header .container{
    margin: 0px 40px;
}
header .header-p{
    padding: 40px 0px;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
}
header .header-f{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header .header-f .logo{
    display: flex;
}
header .header-f ul{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    color: aqua;

}
header .header-f ul li{
    padding: 30px;
}