*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    margin: 0px 50px;
}
/* =========header-section=========== */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
    background-color:black;
}
.header .header-p{
    padding: 20px;
}
.header .header-flex{
display: flex;
align-items: center;
}
.header .header-flex .logo{
    flex: 1;
}
.header .header-flex .logo span{
color: purple;
font-size: 30px;
}
.header .header-flex .logo a{
    font-size: 30px;
    color: white;
    font-weight: 700;
}
.header .header-flex .nav{
    flex: 4;
}
.header .header-flex .nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}
.header .header-flex .nav a{
    color: white;
    font-weight: 700;
    transition: 1s all ease;
}
.header .header-flex .nav a:hover{
    color: purple;
}
.header .header-flex .nav ul .active{
    color: purple;
}
.header .header-flex .nav ul button{
    height: 40px;
    width: 40px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 50%;
    font-weight: 700;
}
.header .header-flex .theme{
    flex: 1;
    padding-left: 15px;
    font-size: 25px;
}
.header .header-flex .theme span{
    color: white;
}
.header .header-flex .show-menu{
    flex: 0.5;
    display: none;
}
.header .header-flex .show-menu button{
    height: 40px;
    width: 40px;
    border: none;
    color: white;
    font-size: 22px;
    background-color: purple;
    border-radius: 5px;
}
/* ============background-img===== */
.background .bg-img{
    background-image: url(images/1image.webp);
    height: 750px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.background .bg-img::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.319);
    z-index: -1;
}
.background .bg-img .img-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: auto;
    display: grid;
    place-content: center;
    z-index: 222;
    color: white;
    justify-items: center;
    text-align: center;
    text-transform: capitalize;
}
.background .bg-img .img-text h5{
padding-bottom: 20px;
font-size: 20px;
font-weight: 700;
}
.background .bg-img .img-text h1{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
}
.background .bg-img .img-text button{
    height: 50px;
    width: 140px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}
/* ============music-1=========== */
.music-1 .music-padding{
    padding: 50px 0px;
}
.music-1 .music-flex{
    display: flex;
}
.music-1 .music-flex .left-img{
    flex: 1;
    padding:0px 30px ;
    overflow: hidden;
}
.music-1 .music-flex .left-img img{
    height: 400px;
    width: 600px;
    border-radius: 10px;
    transition: 1s all ease;
}
.music-1 .music-flex .left-img:hover .img3{
    transform:rotate(360deg) scale(0.2);
}
.music-1 .music-flex .right-text{
    flex: 1;
    text-transform: capitalize;
}
.music-1 .music-flex .right-text h5{
    text-transform: uppercase;
    color: purple;
    padding-bottom: 15px;
}
.music-1 .music-flex .right-text h1{
    font-size: 45px;
    padding-bottom: 15px;
}
.music-1 .music-flex .right-text p{
    color:purple;
    font-size: 18px;
    padding-bottom: 15px;
}
.music-1 .music-padding .right-text button{
    height: 50px;
     width: 140px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}
/* ===========music-2=========== */
.music-2 .music-2-padding{
    padding: 100px 0px;
}
.music-2 .music-2-flex{
    display: flex;
    gap: 20px;
}
.music-2 .music-2-flex img{
height: 400px;
width: 700px;
transition: 1s all ease;
}
.music-2 .music-2-flex .music-img:hover .img1{
    transform: scale(1.2) ;
}
.music-2 .music-2-flex .music-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.music-2 .music-2-flex .music-img .img-text{
    position: absolute;
    background-color: rgba(128, 0, 128, 0.314);
    top: 0;
    display: grid;
    place-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
}
.music-2 .music-2-flex .music-img .text{
    position: absolute;
    top: 100px;
    left: 50px;
    text-align: center;
}
.music-2 .music-2-flex .music-img .text h2{
    font-size: 40px;
    font-style: oblique;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.music-2 .music-2-flex .music-img .text button{
    height: 50px ;
    width: 150px;
    background-color:transparent;
    color:white;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 700;
}
.music-2 .music-2-flex .music-img:hover button{
    border: none;
    background-color:purple;
}
/* =============music-3=========== */
.music-3{
    background-color: whitesmoke;
}
.music-3 .music-3-p{
    padding: 80px 0px;
}
.music-3 .heading{
    text-align: center;
}
.music-3 .heading h5{
    text-transform: uppercase;
    font-weight: 900;
}
.music-3 .heading h2{
    text-transform: capitalize;
    font-size: 45px;
    color:purple;
    padding-bottom: 20px;
}
.music-3 .music-3-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 30px;
}
.music-3 .music-3-grid .grid-box{
    background-color: white;
    padding: 50px;
    border-radius: 30px;
}
.music-3 .music-3-grid .grid-box .icon{
    height: 100px ;
    width: 100px;
    margin: auto;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: purple;
    transition: 1s all ease;
}
.music-3 .music-3-grid .grid-box .icon span{
    font-size: 45px;
}
.music-3 .music-3-grid .grid-box:hover .icon{
    background-color: purple;
    color: white;
}
.music-3 .music-3-grid .grid-box .icon-text{
    padding: 20px ;
    text-align: center;
    transition: .5s all ease;
    text-transform: capitalize;
}
.music-3 .music-3-grid .grid-box .icon-text a{
    color: black;
}
.music-3 .music-3-grid .grid-box .icon-text a:hover{
    color: purple;
}
.music-3 .music-3-grid .grid-box .icon-text p{
    padding: 20px 0px;
    color: rgba(128, 0, 128, 0.505) ;
    font-weight: 500;
}
/* =========music-4======== */
.music-4{
    background-color: aliceblue;
}
.music-4 .m-4-p{
    padding: 40px 0px;
}
.music-4 .m-4-p .m-4-flex{
    display: flex;
    gap:80px;
}
.music-4 .m-4-flex .left-info{
    flex: 1;
}
.music-4 .m-4-flex .left-info h5{
    font: 20px;
    text-transform: uppercase;
    color:  rgba(128, 0, 128, 0.771);
    padding-bottom: 15px;
}
.music-4 .m-4-flex .left-info h1{
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.music-4 .m-4-flex .left-info h1 a:hover{
    color: purple;
}
.music-4 .m-4-flex .left-info p{
    color:rgba(128, 0, 128, 0.63) ;
    font-weight: 500;
    padding-bottom: 30px;
}
.music-4 .m-4-flex .left-info button{
    height: 50px;
    width: 140px;
   background-color: purple;
   color: white;
   border: none;
   border-radius: 10px;
   font-weight: 700;
}
.music-4 .m-4-flex .right-info{
    flex: 1;
}
.music-4 .m-4-flex .right-info .m4-details{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}
.music-4 .m-4-flex .m4-details .m4-details-1{
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}
.music-4 .m-4-flex .m4-details .m4-details-1 .img img{
    height:150px;
    width: 200px;
    border-radius: 10px;
    transition: 1s all ease;
}
.music-4 .m-4-flex .m4-details .m4-details-1 .img img:hover{
    transform: rotateX(180deg);
}
.music-4 .m-4-flex .m4-details .m4-details-1 .img-text h2{
    text-transform: capitalize;
    padding: 10px 0px;
    font-size: 30px;
} 
.music-4 .m-4-flex .m4-details .m4-details-1 .img-text h2 a{
    color: black;
}
.music-4 .m-4-flex .m4-details .m4-details-1 .img-text h2 a:hover{
color: purple;
}
.music-4 .m-4-flex .m4-details .m4-details-1 .img-text p{
    padding: 10px 0px;
    color:rgba(128, 0, 128, 0.63)  ;
    font-weight: 500;
}
/* ===========music-5=========*/
.music-5{
    background-image: url(images/img9.jpg);
    height: 650px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.music-5::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.29);
    z-index: -1;
}
.music-5 .muisc-5-p{
    padding: 80px 20px;
}
.music-5 .music-5-flex{
    display: flex;
}
.music-5 .music-5-flex .left-animation{
    flex: 1;
    display: grid;
    place-content: center;
}
.music-5 .music-5-flex .left-animation .icon{
    background-color: white;
    color: purple;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    animation-name: icon;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    transition: 1s all ease;
}
.music-5 .music-5-flex .left-animation .icon span{
    font-size:30px ;
}
@keyframes icon {
    0%{
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.696) ;
    }
    100%{
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.511), 0px 0px 0px 15px rgba(255, 255, 255, 0.352),0px 0px 0px 20px rgba(255, 255, 255, 0.281),0px 0px 0px 30px rgba(255, 255, 255, 0.164),0px 0px 0px 40px rgba(255, 255, 255, 0.164);
    }
}
.music-5 .music-5-flex .right-details{
    flex: 1;
    color: white;
}
.music-5 .music-5-flex .right-details h5{
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.music-5 .music-5-flex .right-details h1{
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.music-5 .music-5-flex .right-details p{
    padding-bottom: 15px;
}
.music-5 .music-5-flex .right-details button{
    height: 50px;
    width: 140px;
   background-color: purple;
   color: white;
   border: none;
   border-radius: 10px;
   font-weight: 700;
}
/* ===========music-6========== */
.music-6 .music-6-p{
padding: 100px 0px;
}
.music-6 .music-6-grid-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-items: center;
}
.music-6 .music-6-grid-box .grid-box .img-scale{
    overflow: hidden;
    border-radius: 10px;
}
.music-6 .music-6-grid-box .grid-box .img-scale img{
height: 250px;
width: 350px;
 border-radius: 10px;
transition: 1s all ease;
}
.music-6 .music-6-grid-box .grid-box .img-scale img:hover{
    transform: scale(1.2);
}
.music-6 .music-6-grid-box .grid-box .img-text{
    padding: 18px 0px;
}
.music-6 .music-6-grid-box .grid-box .img-text a{
    color: rgba(0, 0, 0, 0.937);
    text-transform: capitalize;
    transition: .5 ease all;
}
.music-6 .music-6-grid-box .grid-box .img-text a:hover{
    color: purple;
    }
.music-6 .music-6-grid-box .grid-box .img-text p{
    padding: 10px 0px;
    font-weight: 500;
    color:rgba(128, 0, 128, 0.63) ;
}
.music-6 .button{
    text-align: center;
    padding: 20px 0px;
}
.music-6 .btn1{
    height: 50px;
    width: 140px;
   background-color: purple;
   color: white;
   border: none;
   border-radius: 10px;
   font-weight: 700;
}
/* =========music-7===== */
.music-7{
    background-color: whitesmoke;
}
.music-7 .music-7-p{
    padding: 50px 0px;
}
.music-7 .heading{
    text-align: center;
    padding-bottom: 30px;
}
.music-7 .heading h5{
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom:10px ;
}
.music-7 .heading h1{
    font-size: 45px;
    text-transform: capitalize;
    color: purple;
}
.music-7 .gallery-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.music-7 .gallery-grid img{
   height: auto;
   max-width: 100%;
    border-radius: 10px;
}
.music-7 .gallery-grid .img-g{
position: relative;
}
.music-7 .gallery-grid .img-g .text{
border-radius: 10px;
color: white;
display: grid;
place-content: center;
text-align: center;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.505);
transform: scale(0);
transition: 0.5s all ease;
}
.music-7 .gallery-grid .img-g .text .text-dealy{
    transform: scale(0);
    transition: 0.5 ease all;
    transition-delay: 1s;
}
.music-7 .gallery-grid .img-g:hover .text{
    transform: scale(1);
}
.music-7 .gallery-grid .img-g:hover .text-dealy{
    transform: scale(1);
}
/* =========music-8============== */
.music-8{
    background-image: url(images/img1.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.music-8::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.349);
    z-index: -1;
}
.music-8 .container{
    margin: 80px 40px;
}
.music-8 .music-8-p{
    padding: 100px 0px;
}
.music-8 .music-8-flex{
    display: flex;
}
.music-8 .music-8-flex .left{
    flex: 1;
}
.music-8 .music-8-flex .right-details{
    flex: 1;
    color: white;
}
.music-8 .music-8-flex .right-details .icon{
    padding-bottom: 20px;
}
.music-8 .music-8-flex .right-details .icon span{
    font-size: 50px;
}
.music-8 .music-8-flex .right-details .text p{
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
}
.music-8 .music-8-flex .right-details .pic{
    display: flex;
    gap: 20px;
}
.music-8 .music-8-flex .right-details .pic img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
}
.music-8 .music-8-flex .right-details .pic .pic-name{
    padding: 30px 0px;
}
.music-8 .music-8-flex .right-details h2{
    color: rgba(128, 0, 128, 0.784);
}
/* ==========muisc-9======== */
.music-9{
    background-color:aliceblue;
}
.music-9 .music-9-p{
    padding: 50px 0px;
}
.music-9 .music-9-flex{
    display: flex;
    gap: 80px;
}
.music-9 .music-9-flex .left-info{
    flex: 1;
}
.music-9 .music-9-flex .left-info h5{
    font-size: 18px;
    text-transform: uppercase;
    color:  rgba(128, 0, 128, 0.771);
    padding-bottom: 15px;
}
.music-9 .music-9-flex .left-info h1{
    font-size: 40px;
    text-transform: capitalize;
    padding-bottom:20px;
}
.music-9 .music-9-flex .left-info p{
    color: rgba(128, 0, 128, 0.63);
    font-weight: 600;
    padding-bottom: 20px;
}
.music-9 .music-9-flex .left-info button{
    height: 50px;
    width: 140px;
   background-color: purple;
   color: white;
   border: none;
   border-radius: 10px;
   font-weight: 700;
}
.music-9 .music-9-flex .right-info{
    flex: 1;
}
.music-9 .music-9-flex .right-info .music-details{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
}
.music-9 .music-9-flex .music-details .details-1{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.music-9 .music-9-flex .music-details .details-1 span{
    font-size: 35px;
    color: purple;
}
.music-9 .music-9-flex .music-details .details-1 .icon-text h2{
text-transform: capitalize;
}
.music-9 .music-9-flex .music-details .details-1 .icon-text h2 a{
    color: black;
}
.music-9 .music-9-flex .music-details .details-1 .icon-text p{
    padding: 10px 0px;
    color: rgba(128, 0, 128, 0.63);
}
/* ========music-10======== */
.music-10{
    padding: 50px 0px;
}
.music-10 .bg-img{
    background-image: url(images/1image.webp);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.music-10 .bg-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.518);
    border-radius: 10px;
    z-index: -1;
}
.music-10 .bg-img .music-10-p{
    padding:50px ;
}
.music-10 .form-flex{
    display: flex;
    align-items: center;
}
.music-10 .form-flex .left-content{
    flex: 1;
    padding: 30px 10px;
}
.music-10 .form-flex .left-content h1{
    font-size: 35px;
    color: white;
    text-transform: capitalize;
}
.music-10 .form-flex .right-form{
    flex: 1;
}
.music-10 .form-flex .right-form .form-flex{
    display: flex;
    gap: 20px;
}
.music-10 .form-flex .right-form .form-flex input[type="text"]{
height: 46px;
width: 250px;
border-radius: 10px;
border: none;
padding: 5px ;
font-size: 16px;
}
.music-10 .form-flex .right-form .form-flex button{
    background-color: purple;
    height: 50px;
    width: 130px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
/* =========footer========== */
.footer{
    background-color: black;
}
.footer .footer-p{
    padding: 50px 0px;
}
.footer .footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
}
.footer .footer-grid .logo-footer span{
    color: purple;
    font-size: 30px;
    }
.footer .footer-grid .logo-footer a{
        font-size: 30px;
        color: white;
        font-weight: 700;
}
.footer .footer-grid .logo-footer .para{
    padding: 20px 0px ;
    color:  rgba(128, 0, 128, 0.63);
}
.footer .footer-grid .logo-footer .socials-grid{
   display: flex;
   gap: 30px;
}
.footer .footer-grid .logo-footer .socials-grid .socials{
    background-color: white;
    height: 40px ;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: 1s ease all;
}
.footer .footer-grid .logo-footer .socials-grid .socials a{
color: purple;
}
.footer .footer-grid .logo-footer .socials-grid .socials:hover{
    background-color: purple;
}
.footer .footer-grid .logo-footer .socials-grid .socials:hover a{
    color: white;
}
.footer .footer-grid .links h3{
color: white;
font-size: 25px;
padding-bottom: 10px;
text-transform: capitalize;
}
.footer .footer-grid .links li{
    line-height: 30px;
    text-transform: capitalize;
}
.footer .footer-grid .links li a{
    color: rgba(128, 0, 128, 0.63);
    font-weight: 500;
}
.footer .footer-grid .links li a:hover{
    color: white;
}
.footer .divider::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: white;
    display: block;
    margin: 50px 0px 20px 0px;
}
.footer .end-footer{
    display: flex;
    justify-content: space-between;
}
.footer .end-footer .copy p{
    color: white;
}
.footer .end-footer .copy p a{
    color: purple;
}
.footer .end-footer .copy p a:hover{
    color: white;
    text-decoration: underline;
}
.footer .end-footer .terms ul{
    display: flex;
    gap: 20px;
}
.footer .end-footer .terms ul a{
    color:  rgba(128, 0, 128, 0.63);
    font-weight: 500;
}
.footer .end-footer .terms ul a:hover{
    color: white;
}