*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    margin: 0px 50px;
}
/* =========header-section=========== */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
    background-color:black;
}
.header .header-p{
    padding: 20px;
}
.header .header-flex{
display: flex;
align-items: center;
}
.header .header-flex .logo{
    flex: 1;
}
.header .header-flex .logo h1 {
    font-size: 45px;
    color: white;
    font-style: italic;
}
.header .header-flex .logo h1 a{
    color:rgb(87, 178, 234) ;
}
.header .header-flex .logo h3{
    color: white;
    font-style: oblique;
}
.header .header-flex .nav{
    flex: 1;
}
.header .header-flex .nav ul{
    display: flex;
    justify-content: flex-right;
    gap: 40px;
    align-items: center;
    font-size: 18px;
    font-style: italic;
}
.header .header-flex .nav a{
    color: white;
    font-weight: 700;
    transition: 1s all ease;
}
.header .header-flex .nav a:hover{
    color:rgb(87, 178, 234) ;
}
.header .header-flex .nav ul .active{
    color:rgb(87, 178, 234) ;
}

/* ============background-img===== */
.background .bg-img{
    background-image: url(img1.jpg);
    height: 700px;
    background-position: center;
    background-size: cover;
    position: relative;
    /* margin-left:60px ;
    margin-right:60px ; */
    z-index: 1;
}
.background .bg-img::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.067);
    z-index: -1;
}
.background .bg-img .img-text {
    position: absolute;
    top: 60px;
    left: -230px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    height: auto;
    display: grid;
    place-content: center;
    z-index: 222;
    color: white;
    justify-items: left;
    text-align: left;
    text-transform: capitalize;
}
.background .bg-img .img-text h1{
font-size: 60px;
font-weight: 700;
font-style: italic;
}
.background .bg-img .img-text h3{
    font-size: 48px;
    font-style: oblique;
    padding-left: 150px;
    padding-bottom: 60px;
}
.background .bg-img .img-text p{
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 50px;
}
.background .bg-img .img-text button{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}
/* =========section-2======== */
.section-2 .section-2-p{
    padding: 100px 0px;
    }
    .section-2 .section-2-grid-box{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        justify-items: center;
    }
    .section-2 .section-2-grid-box .grid-box .img-scale{
        overflow: hidden;
        border-radius: 10px;
    }
    .section-2 .section-2-grid-box .grid-box .img-scale img{
    height: 250px;
    width: 350px;
     border-radius: 10px;
    transition: 1s all ease;
    }
    .section-2 .section-2-grid-box .grid-box .img-scale img:hover{
        transform: scale(1.2);
    }
    .section-2 .section-2-grid-box .grid-box .img-text{
        padding: 18px 0px;
    }
    .section-2 .section-2-grid-box .grid-box .img-text a{
        color: rgba(0, 0, 0, 0.937);
        text-transform: capitalize;
        transition: .5 ease all;
    }
    .section-2 .section-2-grid-box .grid-box .img-text a:hover{
        color:rgb(87, 178, 234) ;
        }
    .section-2 .section-2-grid-box .grid-box .img-text p{
        padding: 10px 0px;
        font-weight: 500;
        color:rgb(87, 178, 234) ;
    }
    .section-2 .button{
        text-align: center;
        padding: 20px 0px;
    }
    .section-2 .btn1{
        height: 50px;
        width: 140px;
       background-color:rgb(87, 178, 234);
       color: white;
       border: none;
       border-radius: 10px;
       font-weight: 700;
    }
/* ======section-3======= */
.footer{
    background-color:black;
}
.footer .container{
    color: white;
}
.footer .footer-p{
    padding: 50px 50px;
}
.footer .heading{
    font-size: 25px;
    padding: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.2);
}
.footer .form-flex{
    display: flex;
} 
.footer .left-form{
    flex: 1;
    /* background-color: rgba(255,255,255,0.2); */
    margin:  20px;
    display: grid;
    place-content: left;
    padding: 30px;
}
.footer .left-form .left-f-flex{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/* .footer .left-form .left-f-flex .email-input{
    padding: 30px 10px;
} */
.footer .left-form .left-f-flex input[type ="text"]{
    height: 45px;
    width: 400px;
    border-radius: 30px;
    border: none;
    padding: 20px;
    font-size: 16px;
    color:black;
    /* margin: 20px; */
}
.footer .left-form .left-f-flex button{
    height: 40px;
    width:400px;
    background-color: rgb(87, 178, 234);
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 20px;
}
.footer .right-info{
    flex: 1;
    background-color: rgb(87, 178, 234);
    /* margin: 50px; */
    height: 450px;
    width: 200px;
}
.footer .right-info h1{
    font-size: 40px;
    text-align: center;
}
.footer .right-info .right-d{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer .right-info .right-d .right-d-1{
    display: flex;
    gap: 10px;
    display: grid;
    place-content: center;
}
.footer .right-info .right-d .right-d-1 .right-text h2{
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
}
.footer .right-info .right-d .right-d-1 .right-text p{
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.footer .right-info .right-d .right-d-1 .right-text p a{
    color: black;
    font-size: 20px;
}
/* =========footer========== */
.footer{
    background-color: black;
}
.footer .footer-p{
    padding: 50px 0px;
}
.footer .footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
}
.footer .footer-grid .logo-footer span{
    color: rgb(87, 178, 234)e;
    font-size: 30px;
    }
.footer .footer-grid .logo-footer a{
        font-size: 30px;
        color: white;
        font-weight: 700;
}
.footer .footer-grid .logo-footer .para{
    padding: 20px 0px ;
    color:  rgb(87, 178, 234);
}
.footer .footer-grid .logo-footer .socials-grid{
   display: flex;
   gap: 30px;
}
.footer .footer-grid .logo-footer .socials-grid .socials{
    background-color: rgb(87, 178, 234);
    height: 40px ;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: 1s ease all;
}
.footer .footer-grid .logo-footer .socials-grid .socials a{
color: rgb(87, 178, 234)e;
}
.footer .footer-grid .logo-footer .socials-grid .socials:hover{
    background-color: rgb(87, 178, 234);
}
.footer .footer-grid .logo-footer .socials-grid .socials:hover a{
    color: white;
}
.footer .footer-grid .links h3{
color: white;
font-size: 25px;
padding-bottom: 10px;
text-transform: capitalize;
}
.footer .footer-grid .links li{
    line-height: 30px;
    text-transform: capitalize;
}
.footer .footer-grid .links li a{
    color: rgb(87, 178, 234);
    font-weight: 500;
}
.footer .footer-grid .links li a:hover{
    color: white;
}
.footer .divider::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: white;
    display: block;
    margin: 50px 0px 20px 0px;
}
.footer .end-footer{
    display: flex;
    justify-content: space-between;
}
.footer .end-footer .copy p{
    color: white;
}
.footer .end-footer .copy p a{
    color:rgb(87, 178, 234);
}
.footer .end-footer .copy p a:hover{
    color:white;
    text-decoration: underline;
}
.footer .end-footer .terms ul{
    display: flex;
    gap: 20px;
}
.footer .end-footer .terms ul a{
    color:  rgb(87, 178, 234);
    font-weight: 500;
}
.footer .end-footer .terms ul a:hover{
    color: white;
}

